<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="format-detection" content="telephone=no">
  <title>百人圈</title>
  <style>
    * {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-tap-highlight-color: transparent
    }

    html {
      font-size: 16px;
      position: relative
    }

    body,div,html {
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline
    }

    body {
      line-height: 1.5;
      font-family: PingFangSC-Regular,Helvetica,'Microsoft Yahei',tahoma,sans-serif
    }

    #root {
      padding: 3vw;
    }

    .header {
      display: flex;
      margin-bottom: 5vw;
    }

    .header .partner {
      display: flex;
    }

    .header .partner .avatar {
      width: 15vw;
      height: 15vw;
      border-radius: 50%;
    }

    .header .partner .info {
      padding: 0 5vw;
      width: 64vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .header .partner .info .name,
    .header .partner .info .desc,
    .header .partner .info .tip {
      text-overflow:ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .header .partner .info .name {
      font-size: 1.1875rem;
    }

    .header .partner .info .desc {
      font-size: 0.75rem;
    }

    .header .partner .info .tip {
      color: #e8524c;
      font-size: 0.75rem;
    }

    .header .qrcode {
      width: 15vw;
      height: 15vw;
    }

    .feed .images {
      display: none;
    }

    .feed .link {
      display: none;
    }

    .feed .title {
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      white-space: pre-wrap;
      margin-bottom: 5vw;
    }

    .feed .title:empty {
      margin-bottom: 0vw;
    }

    .feed.feed-link .title {
      -webkit-line-clamp: 5;
    }

    .feed.feed-image .title {
      -webkit-line-clamp: 5;
    }

    .feed.feed-image .images {
      display: block;
      font-size: 0;
    }

    .feed.feed-image .images .image {
      width: 28vw;
      height: 28vw;
    }

    .feed.feed-image .images .image:nth-child(3n+1) {
      margin-right: 5vw;
    }

    .feed.feed-image .images .image:nth-child(3n+2) {
      margin-right: 5vw;
    }

    .feed.feed-image .images .image.image-one {
      width: 100%;
      height: auto;
    }

    .feed.feed-image .images .image.image-one:nth-child(3n+1) {
      margin-right: 0;
    }

    .feed.feed-image .images .image.image-two {
      width: 44vw;
      height: 44vw;
    }

    .feed.feed-image .images .image.image-two:nth-child(3n+2) {
      margin-right: 0;
    }

    .feed .link {
      display: none;
    }

    .feed.feed-link .link {
      display: block;
    }

    .feed.feed-link .link .card {
      display: block;
      padding: 2vw;
      background-color: #f3f3f5;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .feed.feed-link .link .card .card-image {
      width: 20vw;
      height: 20vw;
    }

    .feed.feed-link .link .card .card-title {
      width: 65vw;
      margin-left: 5vw;
      max-height: 25vw;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  </style>
</head>

<body>
  <div id="root">
    <div class="header">
      <div class="partner">
        <img class="avatar" src="<%= avatar %>" />
        <div class="info">
          <div class="name"><%= name %></div>
          <div class="desc"><%= desc %></div>
          <div class="tip">百人群·TOP100的朋友圈</div>
        </div>
      </div>
      <img class="qrcode" src="<%= qrcode %>" />
    </div>
    <div class="feed feed-<%= feedType %>">
      <div class="title"><%= feedText %></div>
      <div class="images">
        <% if (feedImages.length) { %>
            <%
                var imageClass = "image-three";
                if (feedImages.length == 1) {
                    imageClass = "image-one";
                } else if (feedImages.length == 2) {
                    imageClass = "image-two";
                }
            %>
            <% for (var i=0;i<feedImages.length && i < 3;i++){ %>
                    <img class="image <%= imageClass %>" src="<%= feedImages[i] %>" />
            <% } %>
        <% } %>
      </div>

      <% if (feedType == "link") {  %>
        <div class="link">
                <div class="card">
                  <img class="card-image" src="<%= feedImages[0]  %>" />
                  <div class="card-title"><%= feedTitle %></div>
                </div>
            </div>
      <% } %>
    </div>
  </div>
</body>

</html>
